<div >
    <mat-toolbar  > 
        <mat-toolbar-row>
              
                <span> <h1>BAS 1.0</h1></span>
                <span class="example-spacer"></span>
                
              
                <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
                <mat-icon class="example-icon" matBadge="8" matBadgeColor="warn" matBadgePosition="before" matBadgeOverlap="true" [matBadgeHidden]="false">home</mat-icon>
                <div mat-card-avatar class="example-header-image" [matMenuTriggerFor]="menu"></div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>notifications_off</mat-icon>
                      <span>Disable alerts</span>
                    </button>
                  </mat-menu>
              </mat-toolbar-row>
            </mat-toolbar>
            <mat-grid-list cols="9" rowHeight="1"  class="sun-first">
              
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="indicator-card" >
                        <mat-card-header>
                         
                          <mat-card-title>No of Devices</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <h1>2</h1>
                       
                        </mat-card-content>
               
                     <mat-card-footer>
                     </mat-card-footer>
                      </mat-card>
                
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="indicator-card" >
                        <mat-card-header>
                         
                          <mat-card-title>No of Nodes</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <h1>8</h1>
                       
                        </mat-card-content>
               
                     <mat-card-footer>
                     </mat-card-footer>
                      </mat-card>

                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
            <mat-grid-list cols="9" rowHeight="1" class="sun-second">
              
                <!-- <mat-grid-tile>1</mat-grid-tile> -->
                <mat-grid-tile> </mat-grid-tile>
                <mat-grid-tile>

                    <mat-card class="indicator-card" >
                        <mat-card-header>
                         
                          <mat-card-title>Device Online</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                              
                          <h1>2</h1>
                       
                        </mat-card-content>
               
                     <mat-card-footer>
                     </mat-card-footer>
                      </mat-card>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3"><div class="sun" id="chart"></div></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>

                    <mat-card class="indicator-card" >
                        <mat-card-header>
                         
                          <mat-card-title>Nodes Offline</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <h1>5</h1>
                       
                        </mat-card-content>
               
                     <mat-card-footer>
                     </mat-card-footer>
                      </mat-card>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              
              </mat-grid-list>
              <mat-grid-list cols="9" rowHeight="1" class="sun-bottem" >
              
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile>
                      <mat-card class="indicator-card" >
                          <mat-card-header>
                           
                            <mat-card-title>Device Offline</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <h1>0</h1>
                         
                          </mat-card-content>
                 
                       <mat-card-footer>
                       </mat-card-footer>
                        </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile>
                      <mat-card class="indicator-card" >
                          <mat-card-header>
                           
                            <mat-card-title>Nodes Online</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <h1>3</h1> 
                            
                          </mat-card-content>
                 
                       <mat-card-footer>
                       </mat-card-footer>
                        </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile>9</mat-grid-tile>
                </mat-grid-list>
              
              <!-- <div id="chart"  ></div> -->
            <!-- <mat-grid-list cols="4" rowHeight="300px">
             
                <mat-grid-tile cols="1" rows="1" >
                    <mat-card class="indicator-card">
                        <mat-card-header>
                          
                          <mat-card-title> Device Online</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="assets/pictures/1234.svg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                   
                        </mat-card-content>
                   
                     <mat-card-footer>
                       
                     </mat-card-footer>
                      </mat-card>
                </mat-grid-tile>
                <mat-grid-tile cols="1" rows="2" >
                      <div id="chart" ></div>
                  </mat-grid-tile>
                  <mat-grid-tile cols="1" rows="1" >

                      <mat-card class="indicator-card">
                          <mat-card-header>
                            
                            <mat-card-title> Device Online</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="assets/pictures/1234.svg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                                
                     
                          </mat-card-content>
                     
                       <mat-card-footer>
                         
                       </mat-card-footer>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile cols="1" rows="1" >
                        <mat-card class="indicator-card">
                            <mat-card-header>
                              
                              <mat-card-title> Device Online</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/pictures/1234.svg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                  
                        
                            </mat-card-content>
                          
                         <mat-card-footer>
                           
                         </mat-card-footer>
                          </mat-card>
                      </mat-grid-tile> 
                      <mat-grid-tile cols="1" rows="1" >
                          <mat-card class="indicator-card">
                              <mat-card-header>
                                
                                <mat-card-title> Device Online</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="assets/pictures/1234.svg" alt="Photo of a Shiba Inu">
                              <mat-card-content>
                                    
                             
                              </mat-card-content>
                           
                           <mat-card-footer>
                             
                           </mat-card-footer>
                            </mat-card>
                        </mat-grid-tile> 
              </mat-grid-list> -->
 
</div>




