<div id="main">
  <mat-sidenav-container>
    <mat-sidenav
      id="sideNav"
      #sidenav
      [mode]="push"
      class="example-container fixed-height"
    >
      <section
        class="side-bar-item-row"
        style="padding-left: 10px;padding-top: 5px"
      >
        <!--                <span>-->
        <!--                  <mat-icon-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="Example heart icon"-->
        <!--                    (click)="sidenav.toggle()"-->
        <!--                    >reorder</mat-icon-->
        <!--                  ></span-->
        <!--                >-->
        <i
          class="fas fa-bars side-nav-toggle-icon"
          (click)="sidenav.toggle()"
        ></i>
        <span style="margin-left: 5px">Main Menu</span>
      </section>
      <mat-accordion class="accor-dta">
        <mat-expansion-panel class="accor-boder">
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="side-bar-item-row">
              <span> <mat-icon class="example-icon">home</mat-icon> </span>
              <span class="side-bar-margin-text">
                Home
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-raised-button (click)="navigate(0)">Indicator</button>
          <button mat-raised-button (click)="navigate(1)">Map editor</button>
          <button mat-raised-button (click)="navigate(2)">Warnning</button>
        </mat-expansion-panel>
        <mat-expansion-panel
          class="accor-boder"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="side-bar-item-row">
              <span> <mat-icon class="example-icon">toys</mat-icon></span>
              <span class="side-bar-margin-text"> AC Configuration</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button (click)="navigate(3)">Ac data</button>
          <button mat-raised-button (click)="navigate(4)">Warnning</button>
        </mat-expansion-panel>
        <mat-expansion-panel
          class="accor-boder"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="side-bar-item-row">
              <span> <mat-icon class="example-icon">highlight</mat-icon></span>
              <span class="side-bar-margin-text"> Light Configuration</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button (click)="navigate(5)">Light Data</button>
          <button mat-raised-button (click)="navigate(6)">Warnning</button>
        </mat-expansion-panel>
        <mat-expansion-panel
          class="accor-boder"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title class="side-bar-item-row">
              <span> <mat-icon class="example-icon">info</mat-icon></span>
              <span class="side-bar-margin-text">General Configuration</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-raised-button (click)="navigate('7')">
            Mobile users
          </button>
          <button mat-raised-button (click)="navigate('8')">
            Admin Privilagdes
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="fixed-height">
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon
            class="dragger"
            aria-hidden="false"
            aria-label="Example heart icon"
            (mouseenter)="sidenav.toggle()"
            (click)="sidenav.toggle()"
            >reorder</mat-icon
          >
          <span style="margin-left: 5px"> <h1>BAS 1.0</h1></span>
          <span class="example-spacer"></span>
          <div style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center">
            <button
              mat-icon-button
              aria-label="Example icon-button with a heart icon"
              (click)="navigation()"
            >
              <mat-icon>favorite</mat-icon>
            </button>
            <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example delete icon"
            >delete</mat-icon
            >
            <mat-icon
              class="example-icon"
              matBadge="8"
              matBadgeColor="warn"
              matBadgePosition="before"
              matBadgeOverlap="true"
              [matBadgeHidden]="false"
            >home</mat-icon
            >
            <div
              mat-card-avatar
              class="example-header-image"
              [matMenuTriggerFor]="menu"
            ></div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <ng-container *ngFor="let item of navigator">
        <div *ngIf="item == 0"><app-home></app-home></div>
        <div *ngIf="item == 1"><app-map-editor></app-map-editor></div>
        <div *ngIf="item == 2">
          <app-warnning-general></app-warnning-general>
        </div>
        <div *ngIf="item == 3"><app-ac-configure></app-ac-configure></div>
        <div *ngIf="item == 4"><app-warnning-ac></app-warnning-ac></div>
        <div *ngIf="item == 5"><app-light-configure></app-light-configure></div>
        <div *ngIf="item == 6"><app-warnning-light></app-warnning-light></div>
        <div *ngIf="item == 7"><app-mobile-user></app-mobile-user></div>
        <div *ngIf="item == 8"><app-admin></app-admin></div>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
