.test{

color: white !important;

}
.main{
   height: 100% !important;
   background-color: aqua !important;
}

.second{
   background-color: rosybrown !important;
}

.third{
   background-color: blue !important;
}