.fl-column {
    display: flex;
    flex-direction: column;
  }
  .fl-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .fl {
    display: flex;
  }
  
  .fl-start {
    display: flex;
    justify-content: flex-start;
  }
  
  .card-assign-work {
    background-color: #080915ad;
    margin: 10px;
    border-radius: 5px;
    height: auto;
  }
  .card-chat {
    height: auto;
    width: 53%;
    background-color: #080915ad;
    margin: 10px;
    border-radius: 5px;
  }
  .chat-container {
    padding: 10px;
    width: 100%;
    height: calc(100vh - 409px);
  }
  